src/main/mule/xml2json-groovy-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="278fd9ab-0f05-49ea-9c5b-82021ed8014e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="main" doc:id="b27ba477-142f-456e-81b4-7b98a20c71d8" >
		<http:listener doc:name="change" doc:id="176178e3-0d8f-4d39-a7ce-70f8a49d345e" config-ref="HTTP_Listener_config" path="/xml2json"/>
		<flow-ref doc:name="Flow Reference" doc:id="b92e7ffb-1f13-4b03-b056-9cfc712e1062" name="POST:\xml2json"/>
	</flow>
	<flow name="POST:\xml2json" doc:id="e037093a-d1b4-4f2d-b7c9-971b4a725f5c" >
		<scripting:execute doc:name="Execute" doc:id="196600cd-df3b-4a05-88eb-82baf3cef55a" engine="Groovy">
			<scripting:code ><![CDATA[import groovy.json.*
import groovy.util.*

def parser = new JsonSlurper()
def response = parser.parse(payload)


return response.endereco]]></scripting:code>
		</scripting:execute>
		<logger level="INFO" doc:name="Logger" doc:id="53ac0f00-8ed5-4e60-9afd-07537a302bcd" message="#[payload]"/>
	</flow>
</mule>
